# Gradle files
.gradle/
build/

# Local configuration
local.properties

# OS and Log files
.DS_Store
*.log
*.hprof

# Android Studio generated
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# APKs and output
*.apk
output.json
app/release

# Keystore (DO NOT COMMIT)
*.jks
*.keystore

# Google services keys (DO NOT COMMIT)
google-services.json

# Claude Code local settings
.claude/settings.local.json

# IntelliJ specific
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml

nul
dist/
.env

.kotlin/

__pycache__/
*.pyc
